a:link {
    
    text-decoration: none;
    color: #000000;
    font-weight: 100;
    font-size: 20px;
    padding-left: 2px; 
    padding-right: 7px; 
    padding-bottom: 3px;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    background-color: #0a412c;    
}
